<h2>Your User Profile</h2>


<div class="left-column">
 <div class="password-change">
  <p> Your Username: <%= @username %> </p>
  <form method="POST" action="/update_username">
    <input type="text" name="new_username">
    <button> Change Username </button>
    </form>
  <form method="POST" action="/update_password">
    <input type="text" name="new_password">
    <button> Change Password </button>
    </form>
 </div>
</div>

<div class="right-column">
  <h3 id="vote-list">Songs You Voted For</h3>
  <ul> 
    <% @user_votes.each do |vote| %>
    <li>
      <div class = "song-info">
        <div class="timestamp"><%= (vote.created_at).strftime("%m/%d/%Y") %> </div>
        <div class="title"><%= vote.song.title %></div>
        <div class="vote"><% if vote.value == 1 %>
        Upvote
      <% else %>
        Downvote
        <%end%></div>
      </div>
        <% if vote.value ==1%>
          <div class="spotify-embed"><iframe src="https://embed.spotify.com/?uri=<%= vote.song.uri %>" width="250" height="80" frameborder="0" allowtransparency="true"></iframe></div>
        <%end%>
      </li>
    <% end %>
    </ul>
</div>  
