<p> Your password: <%= @password %> </p>
<form method="PATCH" action="/update_password">
  <input type="text" name="new_password">
  <button> Change Password </button>
  </form>
<p> Your Username: <%= @username %> </p>