<p> Your password: <%= @password %> </p>
<form method="POST" action="/update_password">
  <input type="text" name="new_password">
  <button> Change Password </button>
  </form>
<p> Your Username: <%= @username %> </p>
<form method="POST" action="/update_username">
  <input type="text" name="new_username">
  <button> Change Username </button>
  </form>
