<h2>Welcome to the home page</h2>
<% if current_user %>
  <h3>Suggest a song</h3>
  <form method="POST" action="/suggest_song">
    Song title
    <input type="text" name="title">
    Artist name
    <input type="text" name="artist">
    <button>Submit</button>
  </form>
<% end %>


<h3>Songs</h3>
<ul>
  <% @songs.each do |song| %>
    <li>
      <% if current_user %>
        <button>vote</button>
      <% end %>
      <% if @songs %>
        artist: <%= song.artist %>, title: <%= song.title %>, preview: <iframe src="https://embed.spotify.com/?uri=<%= song.uri %>" width="450" height="80" frameborder="0" allowtransparency="true"></iframe>
      <% end %>
    </li>
  <% end %>
</ul>