<!doctype html5>
<html>
  <head>
    <title>MusicBox</title>
  </head>

  <body>
    <h1>MusicBox</h1>
    <% if current_user %>
      <p>Welcome <%= current_user.name %></p>
    <% else %>
      <p>You need to <a href="/sign_in">sign in</a></p>
    <% end %>
  </body>
</html>
