<!doctype html5>
<html>
  <head>
    <title>MusicBox</title>
  </head>

  <body>
    <h1>MusicBox</h1>

    <% if current_user %>
      <p>Log Out, <%= current_user.name %></p>
      
      <form method="POST" action="/sign_out">
        <button>Log Out</button>
      </form>
    <% else %>
      <p>You are now logged out, <a href="/sign_in">sign in</a></p>
    <% end %>

    <%= yield %>
  </body>
</html>
