<h1>Winning Playlist</h1>
<p>Created at <%= @playlist.created_at %>

<table class="table table-condensed table-striped">

  <tbody>
  <h3>Songs</h3>
    <% @playlist.each do |song| %>
    <div class="song">
      <iframe src="https://embed.spotify.com/?uri=<%= song.uri %>" width="450" height="80" frameborder="0" allowtransparency="true" class="spotify-embed"></iframe>
    <% end %>
  </tbody>
</table>