<h1>Winning Playlist</h1>
<p>Created at <%= @playlist.created_at %>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Suggested By</th>
      <th><a href="/about_song">More Details</a></th>
    </tr>
  </thead>
  <tbody>
    <% @playlist.songs.each do |song| %>
      <tr>
        <td><%= song.artist %></td>
        <td><%= song.title %></td>
        <td><%= song.suggester.name %></td>
        <td><a href="/about_song">More Details</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
