* { padding: 0; margin: 0; box-sizing: border-box; }

a {
  text-decoration: none;
  color: #aaa;
}

a:hover {
  border-bottom: 1px dotted #333;
}

body {
  font-family: Helvetica, sans-serif;
  background-repeat: no-repeat;
  color: #dedede;
  background-size: 1920px 1080px;
  background-color: rgb(105, 104, 108);

  background-image:url("http://i.imgur.com/EDFnLh0.jpg");
}

ul {
  list-style-type: none;
}

li {
  margin: 10px 0;
}

h2 {
  text-align: center;
}

.container {
  width: 800px;
  height: 100vh;
  margin: 0 auto;
  padding:20px;
}

.header {
  position: relative;
  height: 100px;
  font-family: monospace;
  background-color: rgba(00, 00, 00, .5);

}

.alert-message {
  background: red;
  text-align: center;
  padding: 3px;
  margin-bottom: 20px;
}

h1 {
  font-size: 80px;
  text-align: center;
}

.user-info {
  position: absolute;
  right: 50px;
  top: 15px;
}

.song {
  margin: 5px 0;
}

button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(58, 63, 71);
  color:white;
  border:none;
}

input {
  height: 26px;
  border-radius: 5px;
  margin-top: 5px;
}

.spotify-embed { display: inline-block; }

.vote-buttons {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 7px;
}

.suggest {
  margin-bottom: 25px;
}

.left-column, .right-column {
  display: inline-block;
  margin: 20px 20px;
  vertical-align: top;
}
.password-change {
  margin: 15px 0 20px 0;
}

#vote-list, #suggestion-list {
  text-align: center;
}

.song-info {
  display:inline-block;
  vertical-align: top;
  margin-top: 5px;
  text-align: right;
}

.timestamp {
  color: RGB(191,186,187);
  font-size: 13px;
}

.vote {
  margin-top: 5px;
  color: rgb(17, 188, 28);
}

button.upvote{
  font-size:20px;
  padding:0;
}

button.downvote{
  font-size:20px;
  padding:0;
}

.voter{
  background-color: rgb(58, 63, 71);
}
